<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
This is the Contact page for the <a href="www.cnn.com">RoR</a> sample application
</p>

<iframe src='https://motyl.makes.org/popcorn/26xu_' width='560' height='358' frameborder='0' mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>