<% provide(:title, 'Help') %>

    <h1>Help</h1>
    <p>
      Get help on the Ruby on Rails Tutorial at the
      <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
      To get help on this sample app, see the
      <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
    </p>
    <h1>Jokowi might win the elections</h1>
    <a href=http://www.channelnewsasia.com/news/asiapacific/indonesia-election-jokowi/1241256.html><img src=http://www.abc.net.au/news/image/5574808-3x2-340x227.jpg></a>
    <p><h1>Anda's favourite places in Indonesia</h1>
<ul>
	<li>Lombok</li>
<li><a href=http://www.lonelyplanet.com/indonesia/nusa-tenggara/gili-islands>Gili</a></li>
<li><a href=http://en.wikipedia.org/wiki/Mount_Bromo>Bromo</a></li>
<li><a href=http://en.wikipedia.org/wiki/Yogyakarta>YogJakarta</a></li>
</ul>
    </p>
  