<div class="center hero-unit">
<h1>Welcome to Tango Lingo! :)</h1>

<h2>
This is the homepage for the <a href="www.cnn.com">Super</a> sample application

</h2>

<%= link_to "Sign up now!",   signup_path, class: "btn btn-large btn-primary" %>

</div>

<%= link_to image_tag("Hausland Logo red small.png", alt: "Powered by Hausland"), 'http://www.hausland.pl/' %>