<footer class="footer">
  <small>
    <a href="http://rankingmateracy.pl">Copyright</a>
    MM 2014
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.rankingmateracy.pl">News</a></li>
    </ul>
  </nav>
</footer>